body {background-color: grey;
  
}
button { 
  margin: 400px 800px  0px ;

--glow-color: yellow;

--glow-spread-color: #A99E44 ;

--enhanced-glow-color: rgba(223, 204, 58, 1);

--btn-color: rgba(25, 226, 20, 21);

border: 0.25em solid var(--glow-color);

padding: 2em 6em;

color: var(--glow-color);

font-size: 15px;

font-weight: bold;

background-color: var(--btn-color);

border-radius: 1em;

outline: none;

box-shadow: 0 0 1em 0.25em var(--glow-color), 0 0 4em 1em var(--glow-spread-color),

inset 0 0 0.75em 0.25em var(--glow-color);

text-shadow: 0 0 0.5em var(--glow-color);

position: center;

transition: all 0.3s ;
}
button::after {

pointer-events: none;

content: "";

position: absolute;

top: 120%;

left: 0;

height: 100%;

width: 100%;

background-color: var(--glow-spread-color);

filter: blur(2em);

opacity: 0.7;

transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}
button:hover {
color: var(--btn-color);

background-color: var(--glow-color);

box-shadow: 0 0 1em 0.25em var(--glow-color), 0 0 4em 2em var(--glow-spread-color), inset 0 0 0.75em 0.25em var(--glow-color);
}
button:active {

box-shadow: 0 0 0.6em 0.25em var(--glow-color), 00 2.5em 2em var(--glow-spread-color), inset 0 0 0.5em 0.25em var(--glow-color);
}